.k-writer .ProseMirror blockquote {
  border-inline-start: 2px solid var(--color-black);
  display: block;
  font-size: var(--text-xl);
  line-height: 1.25em;
  margin-bottom: 1em;
  padding-inline-start: 1rem;
}
